
<div class="home" >
<div class="homee">
                <h2 class=" homedivh2">
          We Are  professional 
    </h2>
  <div class="typewriter">
  <h1 id="changer">Website developer</h1>
</div>
    <div class="buttons">
      <a href="#contact" class= "buttonshome">Contact</a>
 
      <a href="#Service" class=" buttonshome"> know more</a>
    </div>
   
</div>
       <video autoplay muted loop id="myVideo">
  <source src="\imagevidio\Pexels Videos 2697038.mp4" type="video/mp4">
</video>

 
</div>