<div class="service" id="service">
  <h1>Services </h1>
 <div class="main">

  <ul class="cards">
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="\imagevidio\ops.jpg"></div>
        <div class="card_content">
          <h2 class="card_title"> Website Development</h2>
          <p class="card_text">We can make you good website to scale your business</p>
          <a  href = "#contact"  class="btn card_btn">Contact for more</a>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="\imagevidio\ops2.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">Website Upgrade</h2>
          <p class="card_text">We can updgrade your current website to match latest Trend</p>
          <a  href = "#contact"  class="btn card_btn">Contact for more</a>
        </div>
      </div>
    </li>
    
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="\imagevidio\app1.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">Android APP development</h2>
          <p class="card_text">We can make mobile apps for Android</p>
          <a  href = "#contact"  class="btn card_btn">Contact for more</a>
        </div>
      </div>
    </li>
    
    
   
  </ul>
</div>



    
</div>