<!DOCTYPE html>
<html lang="en">
{{>Head}} 

<body>
    {{>Navbar}}
    <div class="main">
          <div class="screens">{{>Home}}</div>
     <div id="Service" class = "screens"> {{>Service}}</div>

 
   <div id="contact" class = "screens"> {{>contact}}</div>
    </div>

{{!-- {{>footer}} --}}
      <script src="/js/index.js" type="text/javascript"></script>
</body>
</html>